@mixin layoutypo {
    font-style: normal;
    font-weight: normal;
    text-align: center;
    margin: 0;
}

@mixin btn {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

@mixin arrow {
    border: none;
    background-color: transparent;
    align-self: center;
    cursor: pointer;
}