// MISE EN PAGE DE LA HOMEPAGE
.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 100px 0;
    article {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.photographer__image {
    text-decoration: none;
    cursor: pointer;
    img {
        margin: 0;
        height: 200px;
        width: 200px;
        transition: transform 0.5s;
        border-radius: 50%;
        object-fit: cover; 
    }
}

.photographer__image img:hover {
    box-shadow: 2px 2px 8px rgba($saumon, 0.432);
    transform: scale(1.05);
    transition: 0.5s;
}

.place {
    display: flex;
    justify-content: center;
}