.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    article {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
}

.photographer__image {
    text-decoration: none;
    justify-content: center;
    img {
        margin: 0;
        height: 200px;
        width: 200px;
        transition: transform 0.5s;
        border-radius: 50%;
        object-fit: cover; 
    }
}

.photographer__image img:hover {
    transform: scale(1.05);
    transition: 0.5s;
    h2 {
        color: $brown;
    }
}

.place {
    border: 1px, solid, green;
    display: flex;
    justify-content: center;
}