// SECTION PROFIL PHOTOGRAPHE
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 40px;
    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.informations {
    h1 {
        color: $saumon;
        font-size: 50px;
        font-style: normal;
        font-weight: normal;
        margin: 0 0 20px 0;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 18px;
        text-align: left;
        margin-top: 20px;
    }
}

// ZONE DU TRIE(Dropdown)
.photograph-media__input {
    margin: 20px 0;
}
.trie-text {
    font-size: 1.3em;
    font-weight: 700;
    margin-right: 20px;
}

select {
    font-size: 1em;
    font-weight: 500;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    background: $brown;
    color: white;
}


.select-option {
    background: #DB8876;
}


// SECTION MEDIAS
#main, .photograph-media {
    display: flex;
    flex-direction: column-reverse;
}

.photograph-media {
    margin: 0 100px;
    &__grid {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px 90px;
        margin-top: 30px;
    }
}

.medias_photographer img, video {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    object-position: 50% 50%;
    object-fit: cover;
}

.media_photo, .media_video {
    align-items: center;
    flex-direction: column;
    a {
        cursor: pointer;
    }
}

.media_photo__information {
    display: flex;
    justify-content: space-between;
}

.information-likes {
    display: flex;
}





///////////// PRICE /////////////
.total {
    width: 220px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    background-color: #DB8876;
    position: fixed;
    bottom: 0;
    right: 105px;
    z-index: 1;
    padding: 15px 0;
    border-radius: 5px;
    p {
        color: black;
        font-size: 14px;
    }
    &__likes {
        display: flex;
        width: 40%;
        justify-content: space-around;
        .icon-total {
            width: 15px;
            height: 15px;
        }
    }
}

.none {
    display: none;
}