// SECTION PROFIL PHOTOGRAPHE
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 40px;
    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.informations {
    h1 {
        color: $saumon;
        font-size: 64px;
        font-style: normal;
        font-weight: normal;
        margin: 0 0 20px 0;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 18px;
        text-align: left;
        margin-top: 20px;
    }
}


// SECTION MEDIAS
#main, .photograph-media {
    display: flex;
    flex-direction: column-reverse;
}

.photograph-media {
    margin: 0 100px;
    &__grid {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px 90px;
        margin-top: 30px;
        .media_photo img {
            width: 350px;
            height: 300px;
            border-radius: 5px;
            overflow: hidden;
            object-position: 50% 50%;
            object-fit: cover;
        }
    }
}

.media_video video {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    object-position: 50% 50%;
    object-fit: cover;
}

.media_photo, .media_video {
    align-items: center;
    flex-direction: column;
    a {
        cursor: pointer;
    }
}

.media_photo__information {
    display: flex;
    justify-content: space-between;
}

.information-likes {
    display: flex;
}




///////////// MODALE  /////////////
#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .9);
}

.no-scroll {
    overflow: hidden;
 }


.modal {
    margin: 2% auto;
    border-radius: 5px;
    background-color: #DB8876;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    h2 {
        margin-bottom: 30px;
        font-weight: normal;
        text-align: left;
        color: black;
    }
    img {
        cursor: pointer;
        height: 30px;
        width: 30px;
    }
}

#myForm {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    label {
        color: #312E2E;
        font-size: 20px;
    }
    input {
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 5px;
    }
}


///////////// PRICE /////////////
.total {
    width: 220px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    background-color: #DB8876;
    position: fixed;
    bottom: 0;
    right: 105px;
    z-index: 1;
    padding: 15px 0;
    border-radius: 5px;
    p {
        color: black;
        font-size: 14px;
    }
    &__likes {
        display: flex;
        width: 40%;
        justify-content: space-around;
        .icon-total {
            width: 15px;
            height: 15px;
        }
    }
}