// HEADER de la Homepage
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}


// HEADER la page Photographer
.informations__place {
    display: flex;
}